{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem atque corrupti voluptates corporis quae soluta recusandae ut quo, nulla, placeat nisi beatae veritatis dignissimos porro similique at obcaecati reprehenderit illum vitae voluptatum? Et explicabo quibusdam dolor modi ab? Nulla quod distinctio fuga deleniti, cumque impedit eos, voluptas dolorem eaque rem iusto enim repellat exercitationem optio repellendus dicta est porro beatae. Quod vero molestias doloribus? A neque accusamus esse voluptatum explicabo fugit est nemo. Neque eligendi consequuntur quas esse dolore beatae assumenda nulla iure explicabo libero? Reiciendis veritatis, blanditiis alias porro totam molestias vero cumque laboriosam, architecto voluptatem, atque quae? Excepturi?</p>
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>

{% endblock %}